extends layout

block content
   #viewer
      #viewer-overlay
         .content-wrapper
            .content#join-game
               form
                  input#matchid(type="text", value=random_match_id)
                  button.join Join
            .content#waiting
               p Waiting for others...
               a(href="#") cancel
               a.add-comp(href="#") Add Computer
               input#comp
               a.start(href='#') Start

   #brain-editor
      textarea#code= default_brain
      button.save Save
      button.update Update
      button.restart Restart