doctype 5
html(lang="en")
   head
      title= title
      script(src="/socket.io/socket.io.js")
      script.
         var socket = io.connect('/');
         socket.on('data', function (data) {
            console.log(data);
         });
   body
      block content