doctype 5
html(lang="en")
   head
      title= title
      script(src="/js/lib/jquery.js")
      script(src="/js/lib/pixi.js")
      script(src="/js/lib/codemirror.js")
      script(src="/js/lib/codemirror-js-mode.js")
      script(src="/socket.io/socket.io.js")

      script(src="/js/keyboard.js")
      script(src="/js/keyboard_brain.js")
      script(src="/js/viewer.js")
      script(src="/js/main.js")
      != css('main')
      != css('codemirror')
      != css('cm-ambiance-theme')
   body
      #wrapper
         h1 bottles
         block content