doctype 5
html(lang="en")
   head
      title= title
      script(src="/js/jquery.js")
      script(src="/js/pixi.js")
      script(src="/socket.io/socket.io.js")
      script(src="/js/keyboard.js")
      script(src="/js/main.js")
   body
      block content